@page "/create"
@using CRJBlazorWeb.Data
@inject ApplicationDbContext context;
@inject NavigationManager navigationManager
@rendermode InteractiveServer


<h1>Add new product</h1>
<EditForm Model="@newProduct" OnSubmit="HandleSubmit" FormName="create"> 

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="mt-2">
                <label>Name:</label>
                <InputText @bind-Value="newProduct!.Name" class="form-control" />
            </div>

            <div class="mt-2">
                <label>Description:</label>
                <InputTextArea @bind-Value="newProduct!.Description" class="form-control" />
            </div>

            <div class="mt-2"> 
                <label>Price:</label> 
                <InputNumber @bind-Value="@newProduct.Price" class="form-control" /> 
            </div> 

            <div class="mt-2"> 
                <label>Image URL:</label> 
                <InputText @bind-Value="@newProduct.Image" class="form-control" /> 
            </div> 

            <div class="mt-2"> 
                <label>Available Amount:</label> 
                <InputNumber @bind-Value="@newProduct.AvailableAmount" class="form-control" /> 
            </div>

            <button type="submit" class="btn btn-primary">Create Product</button>
        </div>
    </div>
</EditForm>


@code {
    Product newProduct = new() { Image = "https://i.imgur.com/QkIa5tT.jpeg" };


    private void HandleSubmit()
    {

        context.Products.Add(newProduct);
        context.SaveChanges();
        navigationManager.NavigateTo("/");
    }

}