@page "/edit/{id}"
@using CRJBlazorWeb.Data

@inject NavigationManager navigationManager
@inject ApplicationDbContext context
@rendermode InteractiveServer


<h1>Edit Product</h1>

<EditForm Model="@updateProduct" OnSubmit="HandleSubmit" FormName="create">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="mt-2">
                <label>Name:</label>
                <InputText @bind-Value="updateProduct!.Name" class="form-control" />
            </div>

            <div class="mt-2">
                <label>Description:</label>
                <InputTextArea @bind-Value="updateProduct!.Description" class="form-control" />
            </div>

            <div class="mt-2">
                <label>Price:</label>
                <InputNumber @bind-Value="@updateProduct.Price" class="form-control" />
            </div>

            <div class="mt-2">
                <label>Image URL:</label>
                <InputText @bind-Value="@updateProduct.Image" class="form-control" />
            </div>

            <div class="mt-2">
                <label>Available Amount:</label>
                <InputNumber @bind-Value="@updateProduct.AvailableAmount" class="form-control" />
            </div>

            <div class="m-2 row  justify-content-center">
                <button type="submit" class="btn btn-primary w-50">Save Changes</button>
            </div>
        </div>
    </div>
</EditForm>



@code {
    [Parameter]
    public string id { get; set; }

    Product updateProduct = new();

    protected override void OnInitialized()
    {
        int productId = Int32.Parse(id);
        updateProduct = context.Products.Where(p => p.Id == productId).First();
    }



    private void HandleSubmit()
    {

        context.SaveChanges();
        navigationManager.NavigateTo("/");
    }

}